body{
    font-family: sans-serif;
}

.container{
    max-width: 1382px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-footer{
    max-width: 1582px;
    padding: 0 15px;
    margin: 0 auto;
}

header{
    display: flex;
    text-decoration: none;
    height: 95px;
}

.header-conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 300px;
}

.nav__list{
    display: flex;
    align-items: center;
    gap: 50px;
}

.list-reset{
    list-style-type: none;
}

.nav_link{
    font-size: 20px;
}

.nav_link a{
    text-decoration: none;
    color:black;
}

.nav_link a:hover{
    color:aqua
}

.burger{
    display: none;
}

.conteiner-all{
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 15px;
}

.dim{
    font-size: 25px;
}

footer{
    max-width: 1380px;
    margin: 0 auto;
    padding-top: 10px;
}

.div123{
    display: flex;
    justify-content: right;
    position: relative;
    bottom: 30px;
}

.container-main12345{
    max-width: 1020px;
    margin: 0 auto;
}

.container-main12345 a{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-main{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 100px;
}

.container-main123{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 100px;
    margin-top: 100px;
}

.cat{
    display: flex;
    background-color: wheat;
    border-radius: 30px;
    text-align: center;
    height: 350px;
}

.cat img{
    height: 250px;
    margin-top: 30px;
}

.dog{
    display: flex;
    background-color: wheat;
    border-radius: 30px;
    text-align: center;
    height: 350px;
}

.dog img{
    height: 250px;
    margin-top: 30px;
}

.fish{
    display: flex;
    background-color: wheat;
    border-radius: 30px;
    text-align: center;
    height: 350px;
}

.fish img{
    height: 200px;
    margin-top: 30px;
}

.fish div{
    margin-top: 40px;
}

.bird{
    display: flex;
    background-color: wheat;
    border-radius: 30px;
    text-align: center;
    height: 350px;
}

.ekzotuchni{
    display: flex;
    background-color: wheat;
    border-radius: 30px;
    text-align: center;
    height: 350px;
}

.z-prutylky{
    display: flex;
    background-color: wheat;
    border-radius: 30px;
    text-align: center;
    height: 350px;
}

.z-prutylky div{
    margin-top: 50px;
}

.z-prutylky img{
    margin-top: 20px;
    border-radius: 100px;
    height: 230px;
}