body{
    font-family: sans-serif;
    text-decoration: none;
}

header{
    display: flex;
    text-decoration: none;
    justify-content: right;
    padding-bottom: 30px;
}

header nav{
    margin-right: 100px;
    margin-top: 30px;
    text-decoration: none;
}

header a{
    color:black;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 80px;
    text-decoration: none;
}

header img{
    position: relative;
    right:200px ;
    top:7px;
}

nav span{
    color:blue;
}

nav a{
    border-bottom: 1px solid black;
    text-decoration: none;
}

.nomer{
    text-align: center;
    background-color: rgb(221, 202, 172);
    padding: 50px 0 300px 0;
}

.center {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 20px;
  }

  .button {
	width: 80%;
	font-size: 14pt;
	color: white;
	background: rgb(199, 130, 74);
    border-radius: 10px;
	height: 55px;
	padding: 10px;
	border: 1px solid #F5C4AB;
}

.button:hover {
	border: 1px solid white;
}

input.text123 {
    height:40px;
    width: 250px;
    margin-top: 5px;
    border-radius: 50px;
    background-color: wheat;
    color: black;
}

.div123{
    display: flex;
    justify-content: right;
    position: relative;
    bottom: 30px;
}

footer{
    padding-top: 10px;
}


  
