@media (max-width:1291px) { 
    .header-conteiner{
        gap:150px;
    }

}

@media(max-width:1132px){
    .header-conteiner{
        gap:100px;
    }
}

@media(max-width:1078px){
    .header-conteiner{
        gap:10px;
    }

    .nav__list{
        gap: 40px;
    }

    .all-flex-city{
        display: block;
        margin-top: 0;
        background-color: gray;
        padding-left: 30px;
        width: 280px;
        height: 170px;
        border-radius: 20px;
        box-shadow: 10px 5px 5px gainsboro;
    }

    .section{
        height: 700px;
    }    

    .container-map{
        padding: 0 15px;
        max-width: 1380px;
        margin: 0 auto;
        margin-top: 30px;
        display: block;
        gap: 0;
        font-family: "Smooch Sans", serif;
        font-optical-sizing: auto;
        font-weight: 10px;
        font-style: normal;
        color: aliceblue;
    }
}

@media(max-width:949px){
    .nav{
        position: absolute;
        left: 0;
        top:0;
        width: 80%;
        height: 100vh;
        overflow-y: auto;
        background-color: wheat;
        z-index: 100000;
        transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
        transform: translateX(-100%);
        visibility: hidden;
    }

    .nav--active{
        transform: none;
        visibility: visible;
    }


    .nav__list{
        height: 100%;
        flex-direction: column;
        padding:50px 0 ;
    }

    .header-conteiner{
        justify-content: initial;
        gap: 700px;
    }

    .img{
        height: 400px;
    }

    .burger{
        display: block;
        position: relative;
        width: 35px;
        height: 25px;
        border: none;
        font: inherit;
        background-color: white;
        cursor: pointer;
    }

    .burger__line{
        position: absolute;
        right: 0;
        width: 100%;
        height: 4px;
        background-color: black;
    }
    
    .burger__line:first-child{
        top:0;
    }
    
    .burger__line:last-child{
        top:calc(100% - 2px);
    }
    
    .burger__line:nth-child(2){
        top:50%;
        transform: translateY(-50%);
    }

    .burger--active.burger__line:nth-child(2){
        transform: scale(0);
    }

    .burger--active.burger__line:first-child{
        top:50%;
        transform: rotate(45deg);
    }

    .burger--active.burger__line:last-child{
        top:50%;
        transform: rotate(-45deg);
    }

    .dim{
        font-size: 20pxs;
    }

    .all-flex-city{
        display: block;
        margin-top: 0;
    }

    .section{
        height: 700px;
    }    

    .container-map{
        padding: 0 15px;
        max-width: 1380px;
        margin: 0 auto;
        margin-top: 30px;
        display: block;
        gap: 0;
        font-family: "Smooch Sans", serif;
        font-optical-sizing: auto;
        font-weight: 10px;
        font-style: normal;
        color: aliceblue;
    }
}

@media(max-width:841px){
    .header-conteiner{
        gap: 500px;
    }
}

@media(max-width:643px){
    .header-conteiner{
        gap: 300px;
    }

    .map{
        width: 500px;
    }
}

@media(max-width:535px){
    .map{
    width:400px;
}
}

@media(max-width:448px){
    .header-conteiner{
        gap: 200px;
    }

    .map{
        width:300px;
        height: 300px;
    }
}

@media(max-width:343px){
    .header-conteiner{
        gap: 150px;
    }

    .map{
        width:250px;
        height: 250px;
    }

    .all-flex-city{
        width: 250px;
        height: 190px;
    }
}